<div class="drawer z-50">
    <input id="subsleeks-drawer" type="checkbox" class="drawer-toggle" [(ngModel)]="isListVisible" />
    <div class="drawer-content">
      <label for="subsleeks-drawer" class="btn btn-ghost text-xl drawer-button">Sleeka</label>
    </div> 
    <div class="drawer-side">
      <label for="subsleeks-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <table class="table table-lg table-fixed w-1/3 bg-base-300">
        <!-- head -->
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover" *ngFor="let subsleek of subsleeks" (click)="onSubsleekSelection(subsleek)" [routerLink]="['/s/', subsleek.url_name]">
            <th>{{subsleek.name}}</th>
            <td>{{subsleek.description}}</td>
        </tr>
        </tbody>
    </table>
    </div>
  </div>