<div class="grid grid-cols-1 gap-1">
  <div
    class="card bg-neutral text-neutral-content m-1"
    *ngFor="let post of posts; let postIndex = index"
  >
  <a [routerLink]="['p', post.id]">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p>{{ post.content }}</p>

      <!-- Stats at the bottom right of the card -->
      <div class="card-actions justify-end">
        <div class="flex space-x-4">
          <button class="flex items-center btn btn-neutral hover:btn-primary">
            <i class="fas fa-comment mr-2"></i>
            <span>{{ post.comments_count }}</span>
          </button>
          <button class="flex items-center btn btn-neutral hover:btn-primary" (click)="upvote(post, postIndex, $event)">
            <i class="fas fa-thumbs-up mr-2"></i>
            <span>{{ post.upvotes }}</span>
          </button>
          <button class="flex items-center btn btn-neutral hover:btn-primary" (click)="downvote(post, postIndex, $event)">
            <i class="fas fa-thumbs-down mr-2"></i>
            <span>{{ post.downvotes }}</span>
          </button>
        </div>
      </div>
    </div>
  </a>
  </div>
</div>
